* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
main {
  width: fit-content;
  margin: 100px auto;
}
h1 {
  margin-bottom: 24px;
  text-align: center;
}

.con {
  position: relative;
  width: 240px;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
}
.con::before {
  content: '';
  position: absolute;
  width: calc(100% - 32px);
  height: 1px;
  top: 50%;
  background: #eee;
}
.currency-con:nth-of-type(1) {
  margin-bottom: 56px;
}
.currency-con > p {
  margin-bottom: 8px;
  color: #9f9f9f;
}
.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.currency select,
.currency input {
  flex: 1;
  padding: 8px;
  min-width: 0;
  max-width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}
.currency select {
  padding: 8px 8px 8px 0;
  color: #26278e;
  font-weight: bold;
  cursor: pointer;
}
.currency input {
  background-color: #efefef;
  text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#swap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-50%, 50%);
  padding: 12px;
  border: none;
  border-radius: 50%;
  background-color: #26278e;
  color: white;
  cursor: pointer;
}
#rate {
  max-width: 240px;
  padding-right: 16px;
  text-align: right;
}
#rate > span {
  display: block;
}
#rate > span:nth-of-type(1) {
  margin-bottom: 8px;
  color: #9f9f9f;
}
#rate > span:nth-of-type(2) {
  margin-bottom: 8px;
  font-weight: bold;
}
